*{
    margin: 0;
    padding: 0;

}
body{
    font-family: sans-serif;
    margin: 10px 10px;
}
h2{
    padding: 10px 0px;
}
button{
    border: none;
    background: rgb(0, 140, 255);
    color: white;
    padding: 6px 6px;
    border-radius: 3px;
    cursor: pointer;
}
input{
    padding: 4px 4px;
}